.footer {
    background: #2d343c;
    padding-top: 72px;
    padding-bottom: 51px;
    &-items {
        display: flex;
        justify-content: space-between;
      /*   flex-wrap: wrap; */
        gap: 30px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.7px;
        color: $white-color;
        @include breakpoint(md){
            flex-wrap: wrap;
        }
        @include breakpoint(sm){
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }

        li {
            margin-bottom: 15px;
        }

        &__menu {
            @include breakpoint(md){
                width: 40%;
            }
            @include breakpoint(sm){
                width: 100%;
            }
            a {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.7px;
                color: $white-color;
            }
        }
        &__advantages {
            @include breakpoint(md){
                width: 40%;
            }
            @include breakpoint(sm){
                width: 100%;
            }
        }
        &__contact {
            @include breakpoint(md){
                width: 40%;
                
            }
            @include breakpoint(sm){
                width: 100%;
                text-align: center;
            }
            .contact-item {
                span {
                    font-weight: 700;
                    color: $accent-color;
                }
                .social-media ul {
                    display: flex;
                    gap: 12px;
                    @include breakpoint(md){
                        justify-content: center;
                    }
                    @include breakpoint(sm){
                        justify-content: center;
                    }
                    img {
                        width: 37.401px;
                        height: 20px;
                        cursor: pointer;
                        &:hover{
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }
}
