.header {
    padding-top: 30px;
    min-height: 840px;
    background: linear-gradient(
            180deg,
            #242b33 11.98%,
            rgba(45, 52, 60, 0.38) 51.04%,
            #242b33 92.19%
        ),
        url('../images/headerBacground.jpg'), lightgray 50% / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top-items {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
    }

    .navbar {
        display: flex;
        @include breakpoint(md) {
            align-items: flex-start;
            flex-direction: column;
            gap: 40px;
        }
        @include breakpoint(sm) {
            align-items: flex-start;
            flex-direction: column;
            gap: 40px;
        }
        ul {
            display: flex;
            gap: 40px;
            @include breakpoint(md) {
                display: none;
                flex-direction: column;
            }
            @include breakpoint(sm) {
                display: none;
                flex-direction: column;
            }

            li a {
                color: $white-color;

                &:hover {
                    color: gray;
                }
                &.active {
                    display: flex;
                }
            }
        }
        .menu-bar {
            width: 100%;
            
            display: none;

            @include breakpoint(md) {
                display: block;
                height: 30px;
            }
            @include breakpoint(sm) {
                display: block;
                height: 20px;
            }
        }
    }
    &__center-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            text-align: center;
            color: $accent-color;
            font-family: Playfair Display;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            margin-bottom: 81px;
            @include breakpoint(md) {
                font-size: 35px;
            }
            @include breakpoint(sm) {
                font-size: 20px;
            }
        }
    }
    &__bottom-items {
        display: flex;
        justify-content: center;
        gap: 98px;
        color: $white-color;
        margin-bottom: 74px;
        @include breakpoint(md) {
            font-size: 14px;
        }
        @include breakpoint(sm) {
            font-size: 7px;
        }
    }
    p img {
        margin-right: 14px;
        @include breakpoint(md) {
            width: 14px;
        }
        @include breakpoint(sm) {
            width: 7px;
        }
    }
}
