.appartment-advantages {
    background: $dark-color;
    &-items {
        display: flex;
        justify-content: center;
        gap: 70px;
        flex-wrap: wrap;
        
        .appartment-advantages-item {
            margin-bottom: 120px;
            margin-top: 120px;
            color: $accent-color;
            text-align: center;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            line-height: 27px; 
            @include breakpoint(sm) {
                width: 100%;
            }
            @include breakpoint(md){
                width: 30%;
            }
            img {
                width: 80px;
                height: 80px;
            }
            p {
                font-size: 20px;
                color: $white-color;
            }
        }
    }
}
