.appartment-images {
    background: $dark-color;
    h1 {
        font-family: 'Playfair Display';
        font-size: 36px;
        color: $accent-color;
        margin-bottom: 88px;
        @include breakpoint(md) {
            font-size: 30px;
        }
        @include breakpoint(sm) {
            font-size: 24px;
        }

    }
    &-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 10px;
        @include breakpoint(md) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            row-gap: 30px;
        }
        @include breakpoint(sm) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            row-gap: 30px;
            
        }
        .appartment-images-item {
            position: relative;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
            p {
                position: absolute;
                bottom: 10%;
                left: 10%;
                color: $white-color;
                z-index: 10;
                font-size: 20px;
                @include breakpoint(md) {
                    font-size: 15px;
                }
                @include breakpoint(sm) {
                    font-size: 10px;
                }
            }
        }
    }
}
